body{
  background: Silver;
  text-align: center;
  align-items: center;
}

#otpravleno{
  display: none;
  position: relative;
  top: 40px;

}

.nazad{
  text-align: center;
  position: relative;
  left: 35px;
  top: 25px;
  width: 100px;
  background: white;
  height: 25px;
  border-radius: 10px;
}

.nazad_a{
  text-decoration: none;
  position: relative;
  top: 3px;

}

.soder{
  width: 500px;
  position: relative;
  top: 30px;
  left: 50px;
}

.Predloj{
  align-items: center;
  text-align: center;
  position: relative;
  left: 650px;
  width:600px;
  height: 500px;
  top: 150px;
  border-radius: 20px;
  background: white;
}
